.root{
    -dark-grey : #444444;
    -light-grey : #5f5f5f;
    -light-text : #d2d2d2;
    -lighter-text : #c5c5c5;
    -selected-text : #3d85c6;
    -dark-blue-text : #2986cc;
    -light-blue-text : #2ec2ea;
    -dark-red-text : #db0000;
    -light-red-text : #ff4242;
    -warning-text : #ef9c23;
    -default-text : 14px;
    -increased-text : 15px;
}

/*Tab Pane*/
.tab-pane>.tab-header-area>.tab-header-background{
    -fx-background-color : -dark-grey;
}

.tab-pane>.tab-header-area>.headers-region{
    -fx-background-color : -dark-grey;
    -fx-padding : 0px 10px 0px 10px;
}

/*Label Tab*/
.tab-pane>.tab-header-area>.headers-region .tab .tab-label{
    -fx-text-fill : -light-text;
    -fx-font-size : 15px;
}

/*Label Tab selezionata*/
.tab-pane>.tab-header-area>.headers-region .tab:selected .tab-label{
    -fx-text-fill : -selected-text;
}


/*Tab*/
.tab-pane, .tab-pane>.tab-header-area>.headers-region .tab{
    -fx-background-color : -light-grey;
}


.tab-pane .button{
    -fx-background-color : -light-grey;
    -fx-border-color : -dark-grey;
    -fx-border-radius : 4;
    -fx-text-fill : -lighter-text;
    -fx-font-size : 14px;
}

.tab-pane .button:hover{
    -fx-text-fill : skyblue;
    -fx-border-color : black;
}

.separator{
    -fx-background-color : -dark-grey;
}

.separator>.line{
    -fx-border-color : -light-grey;
}

.anchor-pane{
    -fx-background-color : -light-grey;
}

.anchor-pane-shadowed{
    -fx-background-color : -light-grey;
    -fx-effect: dropshadow( one-pass-box , black , 10, 0.1 , 0 , 0);
}

.table-view{
    -fx-background-color : -light-grey;
    -fx-border-color : -dark-grey;
    -fx-text-fill : -light-text;
}

.table-view>.placeholder>.label{
    -fx-text-fill : -light-text;
}

.table-view>.column-header-background, .table-view>.column-header-background>.filler, .table-view>.column-header-background>.nested-column-header>.column-header {
    -fx-background-color : -light-grey;
    -fx-text-fill : -light-text;
    -fx-font-size : 14px;
}

.table-view>.column-header-background>.nested-column-header>.column-header>.label {
    -fx-background-color : -dark-grey;
    -fx-text-fill : -light-text;
    -fx-background-radius : 5px;
    -fx-font-size : 14px;
}


.label{
    -fx-text-fill: -light-text;
    -fx-font-size : 14px;
}

.label.warning{
    -fx-text-fill : -warning-text;
}

.label.element{
    -fx-text-fill : -selected-text;
}

.window-title.label{
    -fx-font-size : 24;
}

.window-subtitle.label{
    -fx-font-size : 18;
}

.popup-window-title.label{
    -fx-font-size : 20;
}

.window-title-element{
    -fx-font-size : 24;
    -fx-font-weight : bolder;
    -fx-text-fill : -selected-text;
}

.window-subtitle-element{
    -fx-font-size : 18;
    -fx-font-weight : bolder;
    -fx-text-fill : -selected-text;
}

.scroll-pane>.corner{
    -fx-background-color : -dark-grey;
}

.list-view>.viewport, .scroll-pane>.viewport,.scroll-pane .scroll-bar:horizontal, .scroll-pane .scroll-bar:vertical, .text-area>.scroll-pane>.viewport,.text-area .scroll-pane .scroll-bar:horizontal, .text-area .scroll-pane .scroll-bar:vertical{
    -fx-background-color : -light-grey;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-pane .scroll-bar:horizontal .thumb,.scroll-pane .scroll-bar:vertical .thumb,.text-area .scroll-pane .scroll-bar:horizontal .thumb,.text-area .scroll-pane .scroll-bar:vertical .thumb{
    -fx-background-color : -lighter-text;
}

.accordition,  .titled-pane, .titled-pane .content, .titled-pane .title {
    -fx-background-color : -light-grey;
}

.titled-pane>.title>.text{
    -fx-fill : -light-text;
}

.titled-pane>.title>.arrow-button>.arrow{
    -fx-background-color : -dark-grey;
}

.password-field, .text-field, .text-area{
    -fx-background-color : -light-grey;
    -fx-border-color : -dark-grey;
    -fx-border-radius : 5px;
    -fx-text-fill : -light-text;
}

.text-area .content{
    -fx-background-color : -light-grey;
}

.date-picker .date-picker-display-node{
    -fx-background-color : -light-grey;
    -fx-border-color:none;
    -fx-text-fill : -light-text;
    -fx-font-size : 14px;
}

.date-picker .arrow-button {
    -fx-background-color : -light-grey;
}
.date-picker .arrow-button .arrow{
    -fx-background-color : -light-text;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -light-grey;
}

.radio-button .text,.check-box .text{
    -fx-fill : -light-text;
    -fx-font-size : 14px;
}

.radio-button .label{
    -fx-font-size : 14px;
}

.radio-button:hover .text,.check-box:hover .text{
    -fx-fill : -selected-text;
}

.choice-box, .combo-box {
    -fx-background-color : -light-grey;
    -fx-border-color : -dark-grey;
    -fx-border-radius : 5px;
    -fx-text-fill : -light-text;
    -fx-font-size : 14px;
}

.context-menu {
    -fx-background-color : -light-grey;
    -fx-background-radius : 4px;
    -fx-border-color : -dark-grey;
    -fx-border-radius : 4px;
}

.choice-box .open-button .arrow, .combo-box .arrow-button .arrow, .menu-button .arrow-button .arrow, .menu .right-container .arrow{
    -fx-background-color : -light-text;
}

.choice-box:hover .open-button .arrow, .combo-box:hover .arrow-button .arrow{
    -fx-background-color : -selected-text;
}

.choice-box .list-view:vertical, .combo-box .list-view:vertical {
    -fx-background-color : -light-grey;
}

.choice-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell, .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color : -light-grey;
}

.button{
    -fx-background-color : -light-grey;
    -fx-border-color : -dark-grey;
    -fx-border-radius : 5px;
    -fx-text-fill:-light-text;
    -fx-font-size : 14px;
}

.button:cancel{
    -fx-text-fill: -dark-red-text;
}

.button:cancel:hover{
    -fx-text-fill: -light-red-text;
}


.button:default{
    -fx-text-fill: -dark-blue-text;
}

.button:default:hover{
    -fx-text-fill: -light-blue-text;
}

.button:hover{
    -fx-text-fill: -selected-text;
}

.table-view .table-cell{
    -fx-font-size : 14px;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:odd{
    -fx-background-color: #bcbcbc;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #c2c2c2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.combo-box-popup .list-view{
    -fx-background-color: -light-grey;
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color: -light-grey;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-text-fill: -selected-text;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: -light-grey;

}

.menu-bar{
    -fx-background-color : -dark-grey;
}

.menu-bar .menu-button{
    -fx-background-color : -dark-grey;
}

.menu-button{
    -fx-background-color : -light-grey;
    -fx-border-color : -dark-grey;
    -fx-border-radius : 5px;
    -fx-text-fill:-light-text;
    -fx-font-size : 14px;
}

.hyperlink{
    -fx-font-size : 14px;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -light-grey;
    -fx-effect: dropshadow( one-pass-box , black , 10, 0.1 , 0 , 0);
}

.h1{
    -fx-font-size : 34px;
}

.h2{
    -fx-font-size : 28px;
}

.h3{
    -fx-font-size : 24px;
}

.h4{
    -fx-font-size : 18px;
}

.h5{
    -fx-font-size : 14px;
}